{% extends 'site/base.html.twig' %}

{% block stylesheet %} {{parent()}} {% endblock %}

{% block title %}services - Site de Grogespa {% endblock %}
   
{% block header %} {{parent()}} {% endblock %}
        
{% block body %}
    <div class="banner-area banner-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner">
                        <h2>Nos prestations</h2>
                        <ul class="page-title-link">
                            <li><a href="#">Acceuil</a></li>
                            <li><a href="#">Nos prestations</a></li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="about" class="section wb">
        <div class="container">
           <div class="row text-center">
                <div class="col-md-3 col-sm-6">
                    <div class="about-item">
                        <div class="about-icon">
                            <span class="icon icon-display"></span>
                        </div>
                        <div class="about-text">
                            <h3> <a href="#">Lorem ipsum dolor. </a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="about-item">
                        <div class="about-icon">
                            <span class="icon icon-database"></span>
                        </div>
                        <div class="about-text">
                            <h3> <a href="#">Lorem ipsum dolor. </a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="about-item">
                        <div class="about-icon">
                            <span class="icon icon-magic-wand"></span>
                        </div>
                        <div class="about-text">
                            <h3> <a href="#">Lorem ipsum dolor. </a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="about-item">
                        <div class="about-icon">
                            <span class="icon icon-cloud"></span>
                        </div>
                        <div class="about-text">
                            <h3> <a href="#">Lorem ipsum dolor. </a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ea, quis magnam deserunt. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end section -->
    {% include 'site/services-section.html.twig' %}
    
            </div><!-- end row -->

            <hr class="hr1">

        </div><!-- end container -->
    </div><!-- end section -->
    
{% endblock %}

{% block footer %}  {{parent()}} {% endblock %} 

{% block javacript %} {{parent()}} {% endblock %}

