{% extends 'site/base.html.twig' %}

{% block stylesheet %} {{parent()}} {% endblock %}

{% block title %}services - Site de Grogespa {% endblock %}
   
{% block header %} {{parent()}} {% endblock %}
        
{% block body %}
    <div class="banner-area banner-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner">
                        <h2>Nos prestations</h2>
                        <ul class="page-title-link">
                            <li><a href="#">Acceuil</a></li>
                            <li><a href="#">Nos prestations</a></li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include 'site/services-section.html.twig' %}
    
            </div><!-- end row -->

            <hr class="hr1">

        </div><!-- end container -->
    </div><!-- end section -->
    
{% endblock %}

{% block footer %}  {{parent()}} {% endblock %} 

{% block javacript %} {{parent()}} {% endblock %}

