<span class="float-right">
 <button type="button" class="btn btn-secondary btn-sm">Ajouter</button>
                                               <button type="button" class="btn btn-danger btn-sm">Annuler</button>
 </span>
                       